.egreso{
    color: white;
    background-color: #ff6060;
    border: 1px solid #fa3636;
    padding: 10px;
    gap: 5px;
    margin: 10px;
    box-shadow: #fa3636 0px 1px 3px, #fa3636 0px 1px 2px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
}

.ingreso{
    color: rgb(255, 255, 255);
    background-color: #0e530e;
    border: 1px solid #004600;
    padding: 10px;
    gap: 5px;
    margin: 10px;
    box-shadow: #004600 0px 1px 3px, #004600 0px 1px 2px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
}